$root_color : #f3f3f3;
$main_color: #eaeaea;
$second_color: #cdcdcd;
$white_opacity: #ffffffda;
$grey_opacity: #00000019;
$red_message: #c02525;
$_black: #000000;
$_white: #ffffff;

$default_font: "Lobster Two", cursive;
$second_font: "Roboto", sans-serif;

$font_size_middle: 1rem;
$font_size_small: 0.8rem;
$font_size_large: 1.3rem;

$default_transition: 0.15s ease-in-out;

/* app */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: $default_font;
}

html,
body,
#root {
  min-height: 100vh;
  background-color: $root_color;
}

/* bar */
.bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $main_color;
  border-bottom: 0.1rem solid $_black;
  padding: 1rem 2rem;
  z-index: 3;
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  height: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $white_opacity;
  opacity: 0;
  overflow: hidden;
  transition: $default_transition;

  &.active {
    height: 100vh;
    opacity: 1;

    ._container {
      opacity: 1;
      top: 40%;
    }
  }

  ._container {
    position: absolute;
    top: 20%;
    left: 50%;
    right: 0;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 2em;
    opacity: 0;
    background-color: $root_color;
    border: 0.1rem solid $_black;
    transform: translate(-50%, -40%);
    transition: $default_transition;
  }

  .modal_close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
}


/* input */
._input {
  display: flex;
  justify-content: center;
  font-family: $second_font;
  margin-top: 0.5rem;
  padding: 0.2rem 1rem;
  min-height: 2.5rem;
  width: 70%;
  outline: none;
}
span._input {
  text-align: center;
}
span._input.red {
  text-align: center;
  color: $red_message;
}

/*input._input,*/
/*textarea._input {*/
/*  font-family: $second_font;*/
/*  font-weight: 700;*/
/*}*/
/*textarea._input.large {*/
/*  min-height: 7rem;*/
/*}*/

/* button */
._button {
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  border: 0;
  background-color: $_white;
  font-size: $font_size_small;
  font-weight: 600;
  font-family: $second_font;
  cursor: pointer;
  transition: $default_transition;
  border-bottom: 0.09rem solid $_white;
  outline: none;
}

._button:hover {
  border-bottom: 0.09rem solid $_black;

}
._button:active {
  border-bottom: 0.09rem solid $_white;
}

/* link */
.link{
  display: block;
  margin: 0 0.5rem;
  border-bottom: 0.1rem solid transparent;
  transition: $default_transition;
}

.link:hover{
  border-bottom: 0.1rem solid $_black;
  transition: $default_transition;
}

.link p {
  display: block;
  font-family: $second_font;
  padding: 0.5rem 1rem;
  text-decoration: initial;
  cursor: pointer;
  color: $_black;
}

.link_container{
  display: flex;
  justify-content: center;
}


/* main */
.main {
  position: relative;
  display: flex;
  padding: 6rem 0 0 0;
}


/* title */
._title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font_size_large;
  font-weight: 800;
  overflow-wrap: break-word;
  text-align: center;
}
._title a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: initial;
  color: $_black;
}


/* form */
._form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

._form_buttons {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* message */
.messages {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 4;
  transition: $default_transition;
}

.message {
  position: relative;
  display: flex;
  justify-content: space-between;
  right: -15rem;
  width: 15rem;
  padding: 1rem;
  margin: 0.5rem 0;
  background-color: $main_color;
  border: 0.1rem solid $_black;
  opacity: 0;
  transition: $default_transition;
}

.message.active {
  right: 0.5rem;
  opacity: 1;
}

.message span {
  font-family: $second_font;
  color: #b61a1a;
  font-size: $font_size_middle;
  overflow-wrap: break-word;
  overflow: hidden;
}

.message_close {
  cursor: pointer;
}


/* category */
.categories {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 0;

  .category {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 0.5rem;

    .subCategories {
      height: 0;
      display: flex;
      flex-direction: column;
      opacity: 0;
      transition: $default_transition;
      z-index: -1;

      .subCategory {
        padding: 1rem;
        margin: 0 1rem;
        cursor: pointer;
        border-bottom: 0.1rem solid transparent;
        font-family: $second_font;
        transition: $default_transition;

        &:hover {
          border-bottom: 0.1rem solid $_black;
          transition: $default_transition;
        }
      }
      &:hover {
        opacity: 1;
      }
    }

    &.active {
      overflow: visible;

      & .subCategories {
        height: 10rem;
        overflowY: scroll;
        opacity: 1;
        z-index: 1;
      }

      &.empty {
        overflow: visible;

        & .subCategories {
          height: auto;
          overflow: hidden;
          opacity: 1;
          z-index: 1;

          .subCategory {
            border-bottom: none;
            color: $red_message;
            cursor: default;
            &:hover {
              border-bottom: none;
            }
          }
        }
      }
      .category_text img {
        transform: rotate(180deg);
        transition: $default_transition;
      }

    }
    .category_text {
      display: flex;
      justify-content: space-between;
      background-color: $main_color;
      padding: 1rem;
      width: 100%;
      cursor: pointer;
      transition: $default_transition;

      img {
        transition: $default_transition;
      }
      &:hover {
        background-color: $second_color;
      }
    }
    }
  }


/* loading */
.loading {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-color: $white_opacity;
  z-index: 2;
}

.loading_small {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: $white_opacity;
}

/* icon */
.icon {
  width: 3rem;
}

.icon.middle {
  width: 1.3rem;
  height: 1.3rem;
}

.icon.small {
  width: 0.8rem;
  height: 0.8rem;
}


/* not found 404 */
.not_found {
  padding: 6rem 1rem;
  font-family: $second_font;
  text-align: center;
}


/*card*/
.card_list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  .card {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 27rem;
    background-color: $root_color;
    transition: $default_transition;
    overflow: hidden;

    &:hover {
      box-shadow: 0 0 0.3rem 0.05rem $second_color;
    }

    .left_section {
      display: flex;
      flex-direction: column;
      flex: 1;
      background-color: $_white;
      border-right: 0.1rem solid $_black;
      padding: 1rem 0.5rem;

      .card_title {
        text-align: center;
        padding: 0.5rem;
      }

      ._img img {
        width: 100%;
        height: auto;
        padding: 2%;
        border-radius: 1rem;
      }
    }

    .right_section {
      position: relative;
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: flex-end;

      .card_info {
        padding: 1rem;
        align-items: flex-end;

        .card_description {
          margin-left: 1.5rem;
          font-size: $font_size_small;
          overflow-wrap: break-word;
          font-family: $second_font;
          text-align: right;

          &.large {
            font-size: $font_size_large;
            cursor: pointer;
          }
        }

        .tags {
          margin: 1.5rem 0 0 1.5rem;
          display: flex;
          gap: 0.3rem;
          justify-content: flex-end;
          flex-wrap: wrap;

          .tag {
            font-family: $second_font;
            background-color: $root_color;
            border-radius: 1rem;
            padding: 0.5rem 1rem;
          }
        }
      }

      .button_section {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        bottom: -10%;
        padding: 0.5rem;
        opacity: 0;
        transition: $default_transition;

        .info {
          padding: 0.5rem;
          color: $_white;
          background-color: $_black;
        }
      }

      &:hover .button_section {
        bottom: 0;
        opacity: 1;
        background-color: $grey_opacity;
      }
    }

    &.animated {
      background-color: $main_color;
      opacity: 1;
    }
  }

}