/* app */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lobster Two", cursive;
}

html,
body,
#root {
  min-height: 100vh;
  background-color: #f3f3f3;
  z-index: 1;
}

/* bar */
.hide {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  transition: 0.1s ease-in-out;
  opacity: 1;
  border-bottom: 0.1rem solid #000000;
  padding: 0.2rem 2rem;;
  z-index: 1;
  overflow: hidden;
}
.in_bar {
  position: absolute;
  bottom: 0;
}
.bar {
  position: fixed;
  top: -2vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eaeaea;
  padding: 1rem 2rem;
  z-index: 2;
  opacity: 0;
  transition: 0.1s ease-in-out;
  border-bottom: 0.1rem solid #000000;
}
.bar:hover {
  top: 0;
  opacity: 1;
  z-index: 3;
}
.bar:hover + .hide {
  top: +3vh;
  opacity: 0;
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffffda;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
  transition: 0.2s ease;
}
.modal.active {
  z-index: 4;
  transition: 0.1s ease;
  opacity: 1;
}
.modal ._container {
  position: absolute;
  top: 20%;
  left: 50%;
  right: 0;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 2em;
  opacity: 0;
  background-color: #f3f3f3;
  border: 0.1rem solid #000000;
  transform: translate(-50%, -40%);
  transition: 0.2s ease;
}
.modal.active ._container {
  opacity: 1;
  top: 40%;
  transition: 0.1s ease;
}

.modal_close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

/* input */
._input {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin-top: 0.5rem;
  padding: 0.2rem;
  min-height: 2.5rem;
  width: 70%;
  outline: none;
}
span._input {
  text-align: center;
}
span._input.red {
  text-align: center;
  color: #b22222;
}

/*input._input,*/
/*textarea._input {*/
/*  font-family: "Roboto", sans-serif;*/
/*  font-weight: 700;*/
/*}*/
/*textarea._input.large {*/
/*  min-height: 7rem;*/
/*}*/

/* button */
.button_section {
  position: absolute;
  bottom: -10%;
  right: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  opacity: 0;
  transition: 0.1s ease;
}
._button {
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  border: 0;
  outline: none;
  background-color: #ffffff;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  transition: 0.3s ease;
  border-bottom: 0.09rem solid #ffffff;
}

._button:hover {
  border-bottom: 0.09rem solid #000000;

}
._button:active {
  border-bottom: 0.09rem solid #ffffff;
}

/* link */
.link{
  display: block;
  margin: 0 0.5rem;
  border-bottom: 0.1rem solid transparent;
  transition: 0.3s ease;
}

.link:hover{
  border-bottom: 0.1rem solid #000000;
}

.link a {
  display: block;
  font-family: "Roboto", sans-serif;
  padding: 0.5rem 1rem;
  text-decoration: initial;
  color: #000000;
}

.link_container{
  display: flex;
  justify-content: center;
}


/* main */
.main {
  display: flex;
  justify-content: center;
  padding: 6vh 0 0 0;
}


/* title */
._title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  padding: 0.2rem;
  min-width: 7rem;
  font-size: 1.3rem;
  font-weight: 800;
  overflow-wrap: break-word;
  text-align: center;
}
._title a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: initial;
  color: #000000;
}


/* form */
._form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

._form_buttons {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* message */
.messages {
  position: fixed;
  top: 0.5rem;
  right: -15rem;
  z-index: 4;
}
.messages.active {
  right: 0.5rem;
  opacity: 1;
}

.message {
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 0.5rem;
  right: -15rem;
  width: 15rem;
  padding: 1rem;
  margin: 0.5rem 0;
  background-color: #eaeaea;
  border: 0.1rem solid #000000;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.message.active {
  right: 0.5rem;
  opacity: 1;
  transition: 0.4s ease;
}

.message span {
  font-family: "Roboto", sans-serif;
  color: #b61a1a;
  font-size: 1rem;
  overflow-wrap: break-word;
  overflow: hidden;
}

.message_close {
  cursor: pointer;
}


/* loading */
.loading {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #ffffffda;
  z-index: 2;
}

.loading_small {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #ffffffda;
}

/* icon */
.icon {
  width: 3rem;
}

.icon.middle {
  width: 1.3rem;
  height: 1.3rem;
}

.icon.small {
  width: 0.8rem;
  height: 0.8rem;
}


/* non used */
.card {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 13rem;
  width: 40rem;
  padding: 1rem 0.5rem 1rem 0.5rem;
  margin-top: 1rem;
  background-color: #f5f5f5;
  transition: 0.3s ease;
  overflow: hidden;
  opacity: 0.1;
}
.card:hover {
  box-shadow: 0 0 0.3rem 0.05rem #b3b3b3;
}
.card:hover .button_section {
  bottom: 4%;
  opacity: 1;
}
.card.deleted {
  visibility: hidden;
}
.card.animated {
  background-color: #e5e5e5;
  opacity: 1;
}

.list.large {
  font-size: 1.3rem;
}

.card_description {
  min-width: 30rem;
  margin-left: 1.5rem;
  font-size: 0.9rem;
  text-align: right;
  overflow-wrap: break-word;
  font-family: "Roboto", sans-serif;
}