@import "index";

/* bar */
.bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: $bar-height;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $main_color;
  border-bottom: 0.1rem solid $_black;
  padding: 1rem 2rem;
  z-index: 3;
}

.user-text {
  padding: 0.5rem 1rem;
}

.bar_mobile {
  display: none;
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  height: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $white_opacity;
  opacity: 0;
  overflow: hidden;
  transition: $default_transition;
  z-index: 1;

  &.active {
    height: 100vh;
    opacity: 1;

    ._container {
      opacity: 1;
      top: 40%;
    }
  }

  ._container {
    position: absolute;
    top: 20%;
    left: 50%;
    right: 0;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    opacity: 0;
    background-color: $root_color;
    border: 0.1rem solid $_black;
    transform: translate(-50%, -40%);
    transition: $default_transition;
  }

  .modal_close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 1;
  }
}

/* input */
._input {
  font-family: $second_font;
  margin-top: 0.5rem;
  padding: 0.2rem 1rem;
  min-height: 2.5rem;
  width: 100%;
  outline: none;
}
span._input {
  text-align: center;
}
span._input.red {
  text-align: center;
  color: $red_message;
}

/*input._input,*/
/*textarea._input {*/
/*  font-family: $second_font;*/
/*  font-weight: 700;*/
/*}*/
/*textarea._input.large {*/
/*  min-height: 7rem;*/
/*}*/

/* button */
.button_container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

._button {
  padding: 0.5rem 1rem;
  border: 0;
  background-color: $_white;
  font-size: $font_size_small;
  font-weight: 600;
  font-family: $second_font;
  cursor: pointer;
  transition: $default_transition;
  border-bottom: 0.09rem solid $_white;
  outline: none;
}

._button:hover {
  border-bottom: 0.09rem solid $_black;
}
._button:active {
  border-bottom: 0.09rem solid $_white;
}

/* link */
.link {
  display: block;
  margin: 0 0.5rem;
  border-bottom: 0.1rem solid transparent;
  transition: $default_transition;
}

.link:hover {
  border-bottom: 0.1rem solid $_black;
  transition: $default_transition;
}

.link p {
  display: block;
  font-family: $second_font;
  padding: 0.5rem 1rem;
  text-decoration: initial;
  cursor: pointer;
  color: $_black;
}

.link_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* main */
.main {
  position: relative;
  display: flex;
}

/* title */
._title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font_size_large;
  font-weight: 800;
  overflow-wrap: break-word;
  text-align: center;
}
._title a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: initial;
  color: $_black;
}

._title img {
  padding: 0.5rem 1rem;
}

/* form */
._form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

._form_buttons {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* message */
.messages {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 4;
  transition: $default_transition;
}

.message {
  position: relative;
  display: flex;
  justify-content: space-between;
  right: -15rem;
  width: 15rem;
  padding: 1rem;
  margin: 0.5rem 0;
  background-color: $main_color;
  border: 0.1rem solid $_black;
  opacity: 0;
  transition: $default_transition;
}

.message.success {
  border: 0.1rem solid $green_message;

  span {
    color: $green_message;
  }
}

.message.failure {
  border: 0.1rem solid $red_message;

  span {
    color: $red_message;
  }
}

.message.active {
  right: 0.5rem;
  opacity: 1;
}

.message span {
  font-family: $second_font;
  font-size: $font_size_middle;
  overflow-wrap: break-word;
  overflow: hidden;
}

.message_close {
  cursor: pointer;
}

/* category */
.categories {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  min-height: calc(100vh - 7rem);
  z-index: 0;

  .category {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &.loading-animation {
      height: 3.3rem;
      @include background-gradient;
      @include animate;
    }

    .subCategories {
      height: 0;
      display: flex;
      flex-direction: column;
      opacity: 0;
      transition: $default_transition;
      z-index: -1;

      .subCategory {
        padding: 1rem;
        margin: 0 1rem;
        cursor: pointer;
        border-bottom: 0.1rem solid transparent;
        font-family: $second_font;
        transition: $default_transition;

        &:hover {
          border-bottom: 0.1rem solid $_black;
          transition: $default_transition;
        }
      }
      &:hover {
        opacity: 1;
      }
    }

    &.active {
      overflow: visible;

      & .subCategories {
        height: 10rem;
        opacity: 1;
        z-index: 1;
      }

      &.empty {
        overflow: visible;

        & .subCategories {
          height: auto;
          overflow: hidden;
          opacity: 1;
          z-index: 1;

          .subCategory {
            border-bottom: none;
            color: $red_message;
            cursor: default;
            &:hover {
              border-bottom: none;
            }
          }
        }
      }
      .category_text img {
        transform: rotate(180deg);
        transition: $default_transition;
      }
    }
    .category_text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $main_color;
      padding: 1rem;
      width: 100%;
      cursor: pointer;
      transition: $default_transition;

      img {
        transition: $default_transition;
      }
      &:hover {
        background-color: $second_color;
      }
    }
  }
}

/* loading */
.loading {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: $white_opacity;
}

/* icon */
.icon {
  width: 2rem;
}

.icon.middle {
  width: 1.3rem;
  height: 1.3rem;
}

.icon.small {
  width: 0.8rem;
  height: 0.8rem;
}

.menu_icon {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/* not found 404 */
.not_found {
  padding: $content-top 1rem;
  font-family: $second_font;
  text-align: center;
}

/*card*/
.card_list {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 7rem);
  gap: 0.5rem;

  .empty {
    font-size: $font_size_large;
    text-align: center;
  }

  .card {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: $main_color;
    transition: $default_transition;

    &.loading-animation {
      opacity: 1;
      height: 15rem;
      @include background-gradient;
      @include animate;
    }

    &:hover {
      box-shadow: 0 0 0.3rem 0.05rem $second_color;
    }

    .left_section {
      display: flex;
      flex-direction: column;
      flex: 1;
      background-color: $_white;
      border-right: 0.1rem solid $_black;
      padding: 1rem 0.5rem;

      .card_title {
        text-align: left;
        padding: 0.5rem;

        &.clickable {
          cursor: pointer;
          padding: 0 0 0.5rem 0;

          &:hover {
            color: $green_price;
            text-decoration: underline;
          }
        }
      }

      ._img {
        position: relative;
        overflow: hidden;
        height: 13rem;
        border-radius: 0.5rem;

        img {
          position: absolute;
          width: 100%;
          height: auto;
        }
      }
    }

    .right_section {
      display: flex;
      flex-direction: column;
      flex: 2;
      align-items: flex-end;
      justify-content: space-between;
      overflow: hidden;

      .card_info {
        padding: 1rem;
        align-items: flex-end;

        .card_description {
          margin-left: 1.5rem;
          font-size: $font_size_small;
          overflow-wrap: break-word;
          font-family: $second_font;
          text-align: right;

          &.large {
            font-size: $font_size_large;
            cursor: pointer;
          }
        }

        .tags {
          margin: 1.5rem 0 0 1.5rem;
          display: flex;
          gap: 0.3rem;
          justify-content: flex-end;
          flex-wrap: wrap;

          .tag {
            font-family: $second_font;
            background-color: $root_color;
            border-radius: 1rem;
            padding: 0.5rem 1rem;
          }
        }
      }

      .button_section {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0.5rem;
        width: 100%;
        padding: 0.5rem;

        .info {
          padding: 0.5rem;
          color: $green_price;
          border: 0.1rem solid $green_price;
        }
      }
    }

    &.animated {
      opacity: 0;
    }
  }
}

@media (max-width: 767px) {
  .bar {
    display: none;
  }

  .bar_mobile {
    position: absolute;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $bar-height-mobile;
    border-bottom: 0.1rem solid $_black;

    .menu {
      position: absolute;
      top: $bar-height-mobile;
      right: 0;
      width: 100%;
      background-color: $root_color;
      padding: 1rem;
      opacity: 0;
      transition: $default_transition;

      &.active {
        opacity: 1;
        z-index: 1;
      }

      .menu_container {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .modal {
    ._container {
      width: 100%;
      height: 100vh;

      .page_container {
        padding: 2rem 2rem 0 1rem;
        width: 100%;
        position: absolute;
        display: block;
        height: 100vh;
        overflow: auto;
      }
    }
  }

  .card_list {
    .card {
      flex-direction: column;
      .left_section {
        border-right: 0;
        border-bottom: 1px solid $_black;
      }
    }
  }
}
